<table class="table table-condensed">
    <thead>
        <tr>
            <th data-field="id">Name</th>
            <th data-field="name">Description</th>
        </tr>
    </thead>
    <tbody>
      <% unless @menus.blank? %>
        <% @menus.each do |menu| %>
          <tr>
            <td><%= menu.name %></td>
            <td><%= menu.description %></td>
          </tr>
        <% end %>
      <% else %>
        No Menus
      <% end %>
    </tbody>
</table>